;; Mostly for visual testing of -SNAPSHOT RELEASES
;; shadow-cljs configuration
{:source-paths ["src/"
                ;; Local Fireworks - uncomment if debugging Fireworks locally
                ;; "../src/"
                ;; Local Lasertag - uncomment if debugging Lasertag locally
                ;; "../../lasertag/src/"
                ]
 :dependencies [[io.github.paintparty/fireworks "0.10.3"]
                [binaryage/devtools "1.0.6"]]
 :dev-http     {8020 "public"}
 :builds       {:app  {:target           :browser
                       :output-dir       "public/js"
                       :asset-path       "/js"
                       :compiler-options {:output-feature-set :es8}
                       :build-hooks      [(shadow.cljs.build-report/hook
                                           {:output-to "tmp/report.html"})]
                       :devtools         {:log false}
                       :modules          {:main ; becomes public/js/main.js
                                          {:init-fn visual-testing.browser/init}}}}}
