{:paths ["src" "test"]
 :deps  {io.github.paintparty/fireworks {:local/root "."}
        ;;  io.github.paintparty/lasertag {:local/root "../lasertag"}
         io.github.paintparty/lasertag {:mvn/version "0.11.5"}
         }}
