;; shadow-cljs configuration
{:source-paths ["src/" "test/"]
 :dependencies [[io.github.paintparty/typetag "0.3.0"]]
 :builds       {:test {:target    :karma
                       :output-to "out/test.js"
                       :ns-regexp "-test$"
                       :autorun   true}}}
