;; shadow-cljs configuration
{:source-paths ["src/" 
                "test/"
                ;; for local dev
                ;; "../lasertag/src/"
                ;; "../get-rich/src/"
                ]
 :dependencies [[io.github.paintparty/lasertag "0.8.3"]
                [io.github.paintparty/bling "0.2.0"]]
 :builds       {:test {:target    :karma
                       :output-to "out/test.js"
                       :ns-regexp "-test$"
                       :autorun   true}}}
