{:paths []
 :deps  {io.github.paintparty/fireworks {:local/root "../../../"}}}

;; ./bb -Sdeps '{:paths ["src" "test"] :deps {io.github.paintparty/bling {:local/root "../../cljc/bling/"}}}' -e "(require '[bling.core-test]) (bling.core-test/bling-basics)"
;; ./bb -Sdeps '{:paths ["src" "test"] :deps {io.github.paintparty/bling {:local/root "./"}}}' -e "(require '[bling.core-test]) (bling.core-test/bling-basics)"

